{% extends "talks/base.html" %} <!-- Extending the base template -->
{% load static %} <!-- Loading static files -->

{% block content %} <!-- Start of content block -->
<div class="profile-container">    
    <!-- Page title -->
    <h2 class="page-title custom1-color" style="margin-bottom: 40px;">Login</h2>
</div>
<!-- Displaying errors not associated with a specific field -->
{% if form.non_field_errors %}
    <div class="error-message">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<!-- Login form -->
<form method="post" class="login-form">
    {% csrf_token %} <!-- CSRF token for security -->
    <!-- Username input field -->
    <div class="form-group">
        {{ form.username.label_tag }} {{ form.username }}
    </div>
    <!-- Password input field -->
    <div class="form-group">
        {{ form.password.label_tag }} {{ form.password }}
    </div>
    <!-- Submit button -->
    <button type="submit" class="register-button">Login</button>
</form>
<!-- Extra links for registration and password reset -->
<div class="extra-links">
    <a href="{% url 'register' %}" class="custom-color small-link">Register</a><br>
    <a href="{% url 'password_reset' %}" class="custom-color small-link">Forgot Password?</a>
</div>

{% endblock %} <!-- End of content block -->