{% extends 'talks/base.html' %}
{% load static %}

{% block content %}
<h2>Profile Page</h2>
<p>Welcome, {{ user.username }}!</p>
{% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
{% else %}
    <p>No profile picture available.</p>
{% endif %}
<script src="{% static 'localtalks/js/registration.js' %}"></script>
<form action="{% url 'delete_profile' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete My Profile" onclick="return confirm('Are you sure you want to delete your profile? This action is irreversible.');">
</form>
{% endblock %}