{% extends 'talks/base.html' %}
{% load static %}

{% block content %}
<h2>Profile Page</h2>
<p>Welcome, {{ user.username }}!</p>
{% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" alt="Profile Picture">
{% else %}
    <p>No profile picture available.</p>
{% endif %}
<script src="{% static 'localtalks/js/registration.js' %}"></script>
<form action="{% url 'delete_profile' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete My Profile" onclick="return confirm('Are you sure you want to delete your profile? This action is irreversible.');">
</form>
<!-- List all ads posted by the user -->
<h3>Your Ads</h3>
{% for ad in ads %}
    <h4>{{ ad.title }}</h4>
    <p>{{ ad.description }}</p>
    {% if ad.image %}
  <img src="{{ ad.image.url }}" alt="Ad image" style="width:200px; height:auto;">
{% else %}
  <p>No image uploaded</p>
{% endif %}
    <!-- Edit and Delete buttons -->
    <a href="{% url 'ad_edit' ad.id %}">Edit</a>
    <a href="{% url 'ad_delete' ad.id %}">Delete</a>
{% endfor %}

<!-- Button to create a new ad -->
<a href="{% url 'ad_create' %}">Create New Ad</a>

{% endblock %}