{% extends 'talks/base.html' %}
{% load static %}

{% block content %}
<div class="profile-container">
    {% if user.profile_picture %}
        <img src="{{ user.profile_picture.url }}" alt="Profile Picture" class="profile-image">
    {% else %}
        <p>No profile picture available.</p>
    {% endif %}
    <div class="profile-buttons">
        <a href="{% url 'profile_edit' %}" class="custom-color">Edit Profile</a>
        <a href="{% url 'profile_delete' %}" class="custom-color">Delete Profile</a>
    </div>
</div>

<div class="ads-header">
    <h3 class="custom1-color">Your Ads</h3>
    <a href="{% url 'ad_create' %}" class="custom-color">Add Ad</a>
</div>

{% include '_ad_list.html' %}
{% endblock %}
