{% extends "talks/base.html" %}
{% load static %}

{% block content %}
<h2>Register</h2>
<form method="post" enctype="multipart/form-data"> <!-- добавили enctype для загрузки изображений -->
    {% csrf_token %}
    <h3 id="accountInfo">Account Information</h3>
    {{ form.username.label_tag }} {{ form.username }}
    {{ form.email.label_tag }} {{ form.email }}
    {{ form.password1.label_tag }} {{ form.password1 }}
    {{ form.password2.label_tag }} {{ form.password2 }}

    <h3>Profile Information</h3>
    {{ form.nickname.label_tag }} {{ form.nickname }}
    {{ form.profile_picture.label_tag }} {{ form.profile_picture }}
    
    <button type="submit">Register</button>
</form>
<script src="{% static 'localtalks/js/registration.js' %}"></script>
{% endblock %}