{% autoescape off %} <!-- Turn off autoescaping, so HTML and special characters render as is -->
<!-- Greeting and username -->
Hi {{ user.username }},

You're receiving this email because you requested a password reset for your user account at Local-Talks community.
<!-- Password reset link -->
Please go to the following page and choose a new password: {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you’ve forgotten: {{ user.username }}

Thanks for using our site! You are always very welcome!

Best regards,
Your Local-Talks
{% endautoescape %} <!-- Turn autoescaping back on -->