{% extends 'talks/base.html' %} <!-- Extend from the base template -->

{% block content %} <!-- Content block starts here -->
  <h2>Enter New Password</h2>
  <!-- Start of the form for password change -->
  <form method="post">
    {% csrf_token %} <!-- CSRF token for security -->
    <!-- Display label and input field for new password -->
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    <!-- Display label and input field for confirming the new password -->
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    <!-- Submit button for form -->
    <button type="submit">Change Password</button>
  </form>
{% endblock %} <!-- End of content block -->