{% extends 'talks/base.html' %} <!-- Extend the base template -->

{% block content %} <!-- Content block starts here -->
  <h2>Reset Password</h2>
  <!-- Form for password reset -->
  <form method="post">
    {% csrf_token %} <!-- CSRF token for security -->
    <!-- Input field for email -->
    {{ form.email.label_tag }} {{ form.email }}
    <!-- Button to submit the form -->
    <button type="submit" class="custom-color">Send Reset Email</button>
  </form>
{% endblock %} <!-- Content block ends here -->