{% extends "talks/base.html" %}
{% load static %}

{% block content %}
<h2>Create New Ad</h2>

<!-- Проверка наличия изображения и его отображение -->
{% if ad.image and not ad.using_default_image %}
    <img src="{{ ad.image.url }}" alt="Ad Image">
{% else %}
    <img src="{{ MEDIA_URL }}default/default.jpg" alt="Default Ad Image">
{% endif %}

<form method="post" enctype="multipart/form-data"> <!-- добавили enctype для загрузки изображений -->
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}