{% extends "talks/base.html" %} <!-- Extending the base template -->
{% load static %} <!-- Loading the static files -->
{% load custom_filters %} <!-- Loading the custom filters -->

{% block content %} <!-- Content block -->
<div class="content-center">
    <div class="ad-item">
        <h2 class="custom-color" style="text-align: center;">Create New Ad</h2> <!-- Title for the form -->
        <div class="category-margin">
        <!-- Check if the ad has an image and it's not using the default one, then display it -->
        {% if ad.image_url and not ad.using_default_image %}
            <img src="{{ ad.image_url }}" alt="Ad Image">
        {% else %}
        <img src="{{ DEFAULT_PROFILE_PICTURE }}" alt="">
        {% endif %} <!-- end of if ad.image and not ad.using_default_image -->
        </div>
        <!-- Form to create a new ad, enctype attribute is added to support file upload -->
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} <!-- CSRF token for security -->
            <!-- Use the custom filter "render_as_list_items" to render the form fields as list items within an unordered list -->
            <ul>
                {{ form|render_as_list_items }}
            </ul>
            <button type="submit" class="btn-custom btn-custom:hover">Submit</button>
        </form>
    </div>
</div>       
{% endblock %} <!-- End of content block -->