{% extends "talks/base.html" %}<!-- Extending the base template -->
{% load static %} <!-- Loading the static files -->

{% block content %} <!-- Content block -->

<div class="content-center">
    <div class="ad-item">
        <!-- Ad title linked to its detail page -->
        <h4><a href="{% url 'ad_detail' ad.id %}" class="custom-color">{{ ad.title }}</a></h4>
            <!-- Author and profile picture -->
            <div>
                <!-- Check for profile picture and display accordingly -->
                {% if ad.author.profile_picture and not ad.author.using_default_image %}
                    <img src="{{ ad.author.profile_picture_url }}" alt="Profile picture" class="small-profile-picture">
                {% else %}
                <img src="{{ DEFAULT_PROFILE_PICTURE }}" alt="Default profile picture" class="small-profile-picture">
                {% endif %}
                <!-- Author username and date posted -->
                <small>Posted by <strong>{{ ad.author.username }}</strong> on: {{ ad.date_posted|date:"Y-m-d" }}</small>
            </div>
            <!-- Categories -->
            <div>
                <small>Category: {% for category in ad.categories.all %}{{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</small>
            </div>
            <!-- Ad description -->
            <p class="ad-description custom-margin">{{ ad.description }}</p>
            <!-- Ad image -->
            {% if ad.image_url and not ad.using_default_image %}
                <img src="{{ ad.image_url }}" alt="Ad image" class="ad-image">
            {% else %}
                <img src="{{ MEDIA_URL }}default/default.jpg" alt="" class="ad-image">
            {% endif %}

            <!-- Edit and Delete buttons for Ad's Author --> 
            {% if user.is_authenticated and user == ad.author %}
                <div class="ad-actions">
                    <a href="{% url 'ad_edit' ad.id %}" class="custom-color">Edit</a>
                    <a href="{% url 'ad_delete' ad.id %}" class="custom-color">Delete</a>
            </div>
        {% endif %}
    </div>
    <!-- Comments Section -->
    <h3 class="custom-margin">Comments</h3>
    <!-- Loop through all comments -->
    {% for comment in ad.comments.all %}
        <div class="category-margin ad-item">
            <!-- Comment author and date -->
            <small>Posted by <strong>{{ comment.author.username }}</strong> on: {{ comment.created_date|date:"Y-m-d" }}</small>
            <!-- Comment text -->
            <p class="ad-description custom-margin">{{ comment.text }}</p>
            <!-- Delete button for comment (only available to the author) -->
            {% if user.is_authenticated and user == comment.author %}
                <a href="{% url 'comment_delete' comment.id %}" class="custom-color">Delete comment</a>
            {% endif %}
        </div>
    {% endfor %}
    
    <!-- Section to Add a Comment -->
    <h3 class="custom-margin">Add a Comment</h3>
    <!-- Check if the user is authenticated -->
    {% if user.is_authenticated %}
        <!-- Form to add a comment -->
        <form method="post">
            {% csrf_token %} <!-- CSRF token for security -->
            {{ form.as_p }} <!-- Render the form fields -->
            <!-- Render the form fields -->
            <button type="submit" class="btn btn-custom custom-margin custom-ads">Add Comment</button>
        </form>
    {% else %}
        <!-- Message for unauthenticated users -->
        <p>You must <a href="{% url 'login' %}" class="custom-color">log in</a> or <a href="{% url 'register' %}" class="custom-color">register</a> to post comments.</p>
    {% endif %}
</div>
<!-- End of content block -->
{% endblock %}