{% extends "talks/base.html" %}
{% load static %}

{% block content %}
<h2>{{ ad.title }}</h2>
<small>Category: {% for category in ad.categories.all %}{{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</small>
{% if ad.image %}
    <img src="{{ ad.image.url }}" alt="Ad Image">
{% else %}
    <p>No image available for this ad.</p>
{% endif %}
<p>Posted by {{ ad.author }} on {{ ad.date_posted }}</p>
<p>{{ ad.description }}</p>

<h3>Comments</h3>
{% for comment in ad.comments.all %}
    <div class="comment">
        <p>By {{ comment.author }} on {{ comment.created_date }}</p>
        <p>{{ comment.text }}</p>
    </div>
{% endfor %}

<h3>Add a Comment</h3>
{% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Comment</button>
    </form>
{% else %}
    <p>You must <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">register</a> to post comments.</p>
{% endif %}
{% endblock %}