{% extends "talks/base.html" %}<!-- Extending the base template -->
{% load static %} <!-- Loading the static files -->

{% block content %} <!-- Content block -->

<div class="content-center">
    <!-- Include the ad list template -->
    {% include '_ad_list.html' %}

    <!-- Comments Section -->
    <h3 class="custom-margin">Comments</h3>
    <!-- Loop through all comments -->
    {% for comment in ad.comments.all %}
        <div class="category-margin ad-item">
            <!-- Comment author and date -->
            <small>Posted by <strong>{{ comment.author.username }}</strong> on: {{ comment.created_date|date:"Y-m-d" }}</small>
            <!-- Comment text -->
            <p class="ad-description custom-margin">{{ comment.text }}</p>
            <!-- Delete button for comment (only available to the author) -->
            {% if user.is_authenticated and user == comment.author %}
                <a href="{% url 'comment_delete' comment.id %}" class="custom-color">Delete comment</a>
            {% endif %}
        </div>
    {% endfor %}
    
    <!-- Section to Add a Comment -->
    <h3 class="custom-margin">Add a Comment</h3>
    <!-- Check if the user is authenticated -->
    {% if user.is_authenticated %}
        <!-- Form to add a comment -->
        <form method="post">
            {% csrf_token %} <!-- CSRF token for security -->
            {{ form.as_p }} <!-- Render the form fields -->
            <!-- Render the form fields -->
            <button type="submit" class="btn btn-custom custom-margin custom-ads">Add Comment</button>
        </form>
    {% else %}
        <!-- Message for unauthenticated users -->
        <p>You must <a href="{% url 'login' %}" class="custom-color">log in</a> or <a href="{% url 'register' %}" class="custom-color">register</a> to post comments.</p>
    {% endif %}
</div>
<!-- End of content block -->
<div>
    <a href="javascript:history.back()" class="custom-color content-center">Go to previous page</a>
</div>
{% endblock %}