{% extends "talks/base.html" %} <!-- Extending the base template -->
{% load static %} <!-- Loading the static files -->

{% block content %} <!-- Content block -->
<!-- Title for the confirmation dialog -->
<h2>Are you sure you want to delete this ad?</h2>
<!-- Form to confirm the deletion of the ad -->
<form method="post">
    {% csrf_token %} <!-- CSRF token for security -->
    <button type="submit" class="custom-color">Yes, delete</button> <br>
    <a href="{% url 'profile_view' %}" class="custom-color">No, take me back</a>
</form>
{% endblock %} <!-- End of content block -->