<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lokal_Talks: Discover and share local events, resources, and opportunities in your community. From arts and culture to official announcements, find everything local here.">
    <meta name="keywords" content="Local Events, Community Talks, Local Resources, Voluntary Help, Official Announcements, Commercial Ads, Sporting Events, Local Education, Arts and Culture, Community Help">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'localtalks/css/styles.css' %}">
    <title>Local Talks</title>
    
</head>
<body>
    <header>
        <h1>Local Talks</h1>
        <img class="logo-image" src="{% static 'localtalks/images/local1.jpg' %}" alt="Schematic illustrations of people of different ages and moods with distinctly expressed individuality. Characters with different skin shades are depicted, as well as a character in a wheelchair and a person with a walking stick, emphasizing the importance of every person.">
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'ad-list' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'ad-list' %}">Ads</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'login' %}">Profile</a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'test-view' %}active{% endif %}">
                        <a class="nav-link" href="{% url 'test-view' %}">How it works</a>
                    </li>
                    
                    {% if user.is_authenticated %}
                        <!-- Если пользователь вошел в систему -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <!-- Если пользователь НЕ вошел в систему -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline ml-auto">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
    </nav>
        
    </header>
    <main>
        {% if messages %}
            <div class="container mt-3">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        
        {% block content %}
        <!-- Content -->
        {% endblock %}
    </main>
    <footer>
        <!-- Footer -->
    </footer>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
