{% extends "talks/base.html" %}
{% load static %}

{% block content %}

<div class="category-navbar category-margin">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <span class="navbar-brand">Adds by categories:</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCategory" aria-controls="navbarCategory" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCategory">
            <ul class="navbar-nav">
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'ads_by_category' category.name %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <div class="col-md-8">
        {% if user.is_authenticated %}
            <a href="{% url 'ad_create' %}" class="btn btn-custom custom-margin">Add Ad</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-custom custom-margin">Add Ad (Login Required)</a>
        {% endif %}

        <h2 class="custom1-color">Latest Ads</h2>
        
        {% include '_ad_list.html' with ads=latest_ads %}
        
        <a href="{% url 'ad-list' %}" class="custom1-color">View All Ads</a>
    </div>
</div>
{% endblock %}