{% extends "talks/base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        {% if user.is_authenticated %}
            <a href="{% url 'ad_create' %}" class="btn btn-custom custom-margin" >Add Ad</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-custom custom-margin">Add Ad (Login Required)</a>
        {% endif %}

        <h2 class="custom1-color">Latest Ads</h2>
        
        {% include '_ad_list.html' with ads=latest_ads %}
        
        <a href="{% url 'ad-list' %}" class="custom1-color">View All Ads</a>
    </div>

    <div class="col-md-4">
        <div class="categories">
            <h3>Categories</h3>
            <ul>
                {% for category in categories %}
                    <li><a href="{% url 'ads_by_category' category.name %}" class="custom-color">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}