{% extends 'talks/base.html' %}

{% block content %}
  <h1>How It Works</h1>

  <p>Welcome to Local Talks, a platform where you can connect with your community to buy, sell, congratulate and discuss various topics. Here's how you can get the most out of our platform:</p>

<h2 class="custom-color">Creating an Account</h2>
<p>First things first, you'll need to create an account. The only registered users have access to all the site features. It's straightforward: click on the 'Sign Up' button, fill in your details, and you're good to go! </p>

<h2 class="custom-color">Posting an Ad</h2>
<p>Got something to sell, lost your dog or want to offer your services? Posting an ad is your next step. Go to 'Create New Ad,' fill in the required details, and your ad will be live.</p>

<h2 class="custom-color">Categories</h2>
<p>Our platform offers various categories to make your search easier. Just click on the relevant category to find what you need. You can also post your ad in multiple categories to increase visibility.</p>

<h2 class="custom-color">Managing Your Profile</h2>
<p>Want to update or delete your profile picture or  your account? Head over to your profile page for all account-related actions.</p>

<h2 class="custom-color">Managing Your Ad</h2>
<p>Want to update your Ad picture or delete your Ad? Head over to your profile page for all Ad-related actions.</p>

<h2 class="custom-color">Contacting Sellers</h2>
<p>Interested in an ad? Use the contact information provided in the ad to get in touch with the seller.</p>

<h2 class="custom-color">Commenting</h2>
<p>You can comment on ads to ask questions or to provide feedback. Note that you need to be logged in to comment.</p>

{% endblock %}