{% extends 'talks/base.html' %} <!-- Extending the base template -->

{% block content %} <!-- Start of content block -->
<div class="col-md-8 mx-auto content-center"> <!-- Additional wrapper for the header -->
  <h2 class="custom1-color custom-ads">How it works</h2>
</div>

  <p>Welcome to "Local buzz", a platform where you can connect with your community to buy, sell, congratulate and discuss various topics. Here's how you can get the most out of our platform:</p>

<h2 class="custom-color">Creating an Account</h2>
<p>First things first, you'll need to create an account. The only registered users have access to all the site features. It's straightforward: click on the 'Sign Up' button, fill in your details, and you're good to go! </p>

<h2 class="custom-color">Default Images</h2>
<p>Not every moment is picture-perfect, and that's okay. Local Talks has you covered with our default image feature for both profile pictures and ad images.</p>
<ul>
  <li>
    <strong>For Profile Pictures:</strong><br>
    If you decide not to upload a profile picture when you register or later in your settings, don't worry. A default image will be automatically used to represent your profile. This way, your profile remains visually appealing even without a custom image.
  </li>
  <li>
    <strong>For Ad Images:</strong><br>
    When posting an ad, if you don't attach an image, a default image will automatically be included in your ad. This ensures your ad still looks complete and encourages more users to interact with it.
  </li>
</ul>
<p>Images are a crucial part of online interaction, so we encourage you to upload custom images whenever you can to make your profile and ads more engaging. However, the default image is always there as a backup.</p>

<h2 class="custom-color">Posting an Ad</h2>
<p>Got something to sell, lost your dog or want to offer your services? Posting an ad is your next step. Go to 'Create New Ad,' fill in the required details, and your ad will be live.</p>

<h2 class="custom-color">Categories</h2>
<p>Our platform offers various categories to make your search easier. Just click on the relevant category to find what you need. You can also post your ad in multiple categories to increase visibility.</p>
<ul>
  <li>
    <strong>Official</strong><br>
    Events and announcements from governmental or formal organizations.
  </li>
  <li>
    <strong>Events</strong><br>
    Events, concerts, movies, shows, and other activities.
  </li>
  <li>
    <strong>Sports</strong><br>
    Athletic events, competitions, and sports-related gatherings.
  </li>
  <li>
    <strong>Charity and Aid</strong><br>
    Fundraisers, volunteer opportunities, and charitable activities.
  </li>
  <li>
    <strong>Commercial</strong><br>
    Product launches, sales events, and other business-related activities.
  </li>
  <li>
    <strong>Wellness and Mindfulness</strong><br>
    Yoga sessions, meditation classes, and workshops focusing on mental well-being.
  </li>
  <li>
    <strong>Art and Culture</strong><br>
    Art exhibitions, cultural festivals, and museum events.
  </li>
  <li>
    <strong>Celebrations and Congrats</strong><br>
    A space for sharing birthday wishes, achievements, and other celebratory messages.
  </li>
  <li>
    <strong>Miscellaneous</strong><br>
    Items that don't fit into other categories.
  </li>
</ul>

<h2 class="custom-color">Search Functionality</h2>
<p>Looking for something specific? Our search feature is here to help! Located at the top of the page, the search bar allows you to find what you're looking for with ease. Simply enter a keyword into the search bar, and our system will automatically search through ads, their authors, and categories to find the most relevant results for you.</p>

<h2 class="custom-color">Managing Your Profile</h2>
<p>Want to update or delete your profile picture or  your account? Head over to your profile page for all account-related actions.</p>

<h2 class="custom-color">Managing Your Ad</h2>
<p>Want to update your Ad picture or delete your Ad? Head over to your profile page for all Ad-related actions.</p>

<h2 class="custom-color">Contacting Ad's Authors</h2>
<p>Interested in an ad? Use the contact information provided in the ad to get in touch with the seller.</p>

<h2 class="custom-color">Commenting</h2>
<p>You can comment on ads to ask questions or to provide feedback. Note that you need to be logged in to comment.</p>

{% endblock %} <!-- End of content block -->