.logo-image {
    width: 50%; 
    display: block;
    margin: 0 auto; /* Центрирует изображение по горизонтали */
    margin-top: 20px; /* Добавляет отступ сверху, чтобы отделить изображение от других элементов */
}