.logo-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Общий стиль */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: PT Sans, Arial;
    color: #3a3a3a;
    overflow-y: auto;
    height: 100vh;
}

/* Шапка */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Навигация */
.navbar {
    margin-bottom: 20px;
}

/* Основной контент */
main {
    margin: 20px;
}

/* Подвал */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

/* Кнопки */
.btn-primary {
    background-color: #ab81a9;
    border-color: #ab81a9 !important;
}

.btn-secondary {
    background-color: #caca66;
    border-color: #caca66 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #caca66 !important;
    border-color: #caca66 !important;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #ab81a9 !important;
}

.custom-margin {
    margin-bottom: 20px;
}

.custom-color {
    color: #ab81a9 !important;
}

.custom1-color {
    color: #72a84a !important;
}