.logo-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Общий стиль */
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: PT Sans, Arial;
    color: #3a3a3a;
    overflow-y: auto;
    height: 100vh;
}

/* Шапка */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* Навигация */
.navbar {
    margin-bottom: 20px;
}

/* Основной контент */
main {
    margin: 20px;
}

/* Подвал */
footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

/* Кнопки */
.btn-custom {
    background-color: #dcb8da;
    border-color: #dcb8da;
}

.btn-custom:hover {
    background-color: #caca66;
    border-color: #caca66;
}

.custom-margin {
    margin-bottom: 20px;
}

.custom-color {
    color: #ab81a9 !important;
}

.custom1-color {
    color: #72a84a !important;
}

.custom2-color {
    color: #472f04da !important;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-image {
    max-width: 150px;
    border-radius: 50%;
}

.profile-actions {
    display: flex;
    gap: 10px;
}

.profile-section, .ad-section {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.profile-buttons {
    margin-top: 10px;
}

.ad-container {
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.ads-header {
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.custom-ads {
    margin-bottom: 50px;
}

/* Добавленные стили для горизонтальной панели категорий */
.category-navbar {
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: start;
    gap: 15px;
}

.category-navbar a {
    text-decoration: none;
    color: #3a3a3a;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.category-navbar a:hover {
    background-color: #dcb8da;
    color: #ffffff;
}
.category-margin {
    margin-bottom: 20px;
}
.small-profile-picture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

/* Для изменения фона только панели категорий */
.category-nav {
    background-color: #f4f4cb !important; /* Цвет фона */
}

.nav-item {
    flex: 1;
    text-align: center;
}

.ads-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ad-item {
    flex-basis: calc(50% - 10px); /* два элемента в ряд */
    box-sizing: border-box;
    margin-bottom: 20px; /* нижний отступ для дополнительного пространства между рядами */
    display: inline-block; /* чтобы Flexbox корректно применился */
    margin-bottom: 50px;
}

.ad-description {
    max-height: 150px;
    overflow-y: auto;
}

.content-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}