<div class="ads-wrapper">
    {% for ad in ads %}
    <div class="ad-item">
        <h4><a href="{% url 'ad_detail' ad.id %}" class="custom-color">{{ ad.title }}</a></h4>
        <div>
            {% if ad.author.profile_picture and not ad.author.using_default_image %}
                <img src="{{ ad.author.profile_picture.url }}" alt="Profile picture" class="small-profile-picture">
            {% else %}
                <img src="{{ MEDIA_URL }}default/default.jpg" alt="Default profile picture" class="small-profile-picture">
            {% endif %}
            <small>Posted by <strong>{{ ad.author.username }}</strong> on: {{ ad.date_posted|date:"Y-m-d" }}</small>
        </div>
        <div>
            <small>Category: {% for category in ad.categories.all %}{{ category.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</small>
        </div>
        <p class="ad-description custom-margin">{{ ad.description }}</p>
        {% if ad.image and not ad.using_default_image %}
            <img src="{{ ad.image.url }}" alt="Ad image" class="ad-image">
        {% else %}
            <img src="{{ MEDIA_URL }}default/default.jpg" alt="Default Ad image" class="ad-image">
        {% endif %}
            
        {% if user.is_authenticated and user == ad.author %}
            <div class="ad-actions">
                <a href="{% url 'ad_edit' ad.id %}" class="custom-color">Edit</a>
                <a href="{% url 'ad_delete' ad.id %}" class="custom-color">Delete</a>
            </div>
        {% endif %}
    </div>
    {% endfor %}
</div>
